.messages
  each type in Object.keys(messages)
    each message in messages[type]
      if type === 'error'
        div.alert(class='alert-danger')= message
      else
        div.alert(class='alert-' + type)= message
